*{                                                              /* reseting some elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    color: #ffd700;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #000;
    border-radius: 25px;
    margin: 50px;
    padding: 50px;
}
.title {
    text-align: center;
    font-size: 70px;
}
.title span{
    color: white;
}



.status-reset {
    font-size: 35px;
    margin-top: 50px;
    height: 100px;
    width: 1200px;
    padding: 0 200px;
}
.status {
    border-left: 5px solid gold;
    border-radius: 5px;
    padding: 25px 20px 20px 5px;
    float: left;                                                 /*i used float in order to prevent moving another div after changing size fo curent div */
}
.status span{
    color: white;
}
.reset {
    float: right;                                               /* i used float in order to prevent moving another div after changing size fo curent div */
    cursor: pointer;
    translate: color, 1.5s ;
    border: 1px solid white;
    box-shadow: rgba(245, 241, 241, 0.733) 0px 2px 8px, rgb(206, 204, 204) 0px 5px 6px;
    border-radius: 5px;
    padding: 25px;    
}
.reset:hover{
    color: white;
    background-color: gold;
    transition: 1s;
}








.game-grid {
    background-color: rgb(218, 209, 209);
    display: grid;
    grid-template-columns: repeat(7, 2fr) ;                    /* equally destrubutes space to 3 */
    grid-template-rows: repeat(6, 1fr);                        
    grid-gap: 7px;                                            /* distance between grid elements */
    margin-top: 50px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 150px;
    background-color: black;
    cursor: pointer;
}


.x, .o {
    cursor: default;                                          /* cursor does not react to text*/
}


.x::after{                     /* why just x class because in javascript we add x as third class of game-cell element*/
    content: '×';              /* changes property of the content after some actions*/      
    color: white;
    font-size: 200px;
}
.o::after{
    content: 'O';              /* changes property of the content after some actions*/         
    font-size: 130px;
}
.won::after{
    color: red;
}










@media only screen  and (max-width:1300px) and (min-width:1200px){                 
    .container{
        scale: 0.65;
    }



   @media only screen and (max-width:1024px){
    .container{
        height: 300px;
        width: 300px;
    }
    .game-grid{
        margin-top: 25px;
        grid-gap:10px;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .game-cell{
        height: 180px;
        width: 195px;
    }

    .x::after{
        font-size: 150px;
    }
    .o::after{
        font-size: 90px;
    }
}


@media only screen and (max-width:540px){
    .container{
        margin: 25px;
        padding:25px;
    }
    
    .game-cell{
        height: 100px;
        width: 100px;
    }

    .x::after{
        font-size: 100px;
    }
    .o::after{
        font-size: 60px;
    }
} 
